= form_for @customer do |f|
	%h3
		Customer Details
	= f.label :name
	%br
	= f.text_field :name
	.error_tag
		= f.object.errors[:name]
	%br
	= f.label :gender
	%br
	= f.text_field :gender
	.error_tag
		= f.object.errors[:gender]
	%br
	= f.label :phone
	%br
	= f.text_field :phone
	.error_tag
		= f.object.errors[:phone]
	%br
	= f.label :email
	%br
	= f.text_field :email
	.error_tag
		= f.object.errors[:email]
	%br
	= f.label :email_confirmation
	%br
	= f.text_field :email_confirmation
	%br
	.error_tag
		= f.object.errors[:email_confirmation]
	%br
	%br
	%h4
		Order Details
	= f.fields_for :orders do |order|
		= order.label :product_name
		%br
		= order.text_field :product_name
		.error_tag
			= order.object.errors[:product_name]
		%br
		= order.label :quantity
		%br
		= order.text_field :quantity
		.error_tag
			= order.object.errors[:quantity]
		%br
		%br
		= order.check_box :terms_of_service, {}, 1, 0
		Accpet Order Conditions
		.error_tag
			= order.object.errors[:terms_of_service]
		%br
	= f.submit
